body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.page-container {
    width: 80%;
    /* To adjust the width as required. */
    border: 4px solid rgb(0, 88, 171);
    padding: 10px;
    background-color: #f0f0f0;
}

header {
    border: 4px solid black;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    /* Spacing between sections. */
    margin-left: 10em;
    margin-right: 10em;
}

footer {
    border: 4px solid orange;
    padding: 10px;
    align-items: left;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    /* Distribute menu nav items evenly */
    border: 2px solid red;
    align-items: left;
    text-align: left;
    /* 2px border for nav bar */
    padding: 4px 0;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

/* styling the dropdown for a menu design and appearance */
.nav-container {
    cursor: pointer;
    position: relative;
    /* display: inline-block; */
}


.nav-menuitem {
    cursor: pointer;
}

/* Hide the menu by default */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 1;
}

/* Show the menu on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Style the links */
.dropdown-menu li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #ddd;
}

main {
    border: 2px solid black;
    /* 2px border width for the main content section. */
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

h3 {
    margin-top: 0;
}

footer h3 {
    margin: 0;
}