body {
    border: 3px solid;
    border-color: darkgreen;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

h1 {
    text-align: center;
    border: 3px solid;
    border-color: darkblue;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    width: 90%;
}

nav {
    color: black;
    display: flex;
    justify-content: space-around;
    /* Distribute menu nav items evenly */
    border: 2px solid red;
    align-items: left;
    text-align: left;
    /* 2px border for nav bar */
    padding: 4px 0;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

/* styling the dropdown for a menu design and appearance */
.nav-container {
    position: relative;
    /* display: inline-block; */
}

.nav-item {
    cursor: pointer;
    /* margin: 0;
    margin-left: 10px;
    padding: 0 10px; */
}

/* Hide the menu by default */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 1;
}

/* Show the menu on hover */
.dropdown:hover .dropdown-menu{
    display: block;
}

/* Style the links */
.dropdown-menu li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #ddd;
}


p {
    text-align: left;
}

#contact #contacts {
    text-align: right;
}